<a href="https://colab.research.google.com/github/otmaneABBAS/portfolio2/blob/main/analyse%20des%20ventes%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Analyse Exploratoire des Ventes d'une Chaine de vente d'electroniques**


Chaque fichier contient les colonnes suivantes:

OrderID: l'identifiant unique de la commande
Product: La désignation du produit
Quantity Ordered: la quantité vendue
Price each: le prix unitaire
order date : La date d'achat
Purchase adress: l'adresse de la boutique de vente

Nous allons analyser ces données pour répondre aux questions suivantes:

Quel est le meilleur mois de vente ? et Quel est le chiffre d'affaires de ce mois ?
Dans quelle ville a-t-on le plus vendu de produits ?
A quelle heure devons-nous passer de la publicité pour augmenter nos ventes ?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

In [2]:
url='https://raw.githubusercontent.com/kevindegila/data-analyst/main/datasets/SalesAnalysis/Output/all_data.csv'

In [3]:
data_sales=pd.read_csv('https://raw.githubusercontent.com/kevindegila/data-analyst/main/datasets/SalesAnalysis/Output/all_data.csv')

In [ ]:
data_sales.head()

In [ ]:
data_sales.describe()

In [ ]:
data_sales.info()

# nettoyage de la data

In [ ]:
#pour voir combien de valur manquantes par colonnes
data_sales.isnull().sum(axis=0)

In [ ]:
data_sales.shape

In [8]:
#supprimer toutes les valeurs manquantes
data_sales.dropna(inplace=True)

In [ ]:
data_sales.shape

In [ ]:
data_sales.describe()

changement des types

In [ ]:
data_sales.head()

In [12]:
#convertir la colonne price each et quantity ordred à des chiffres pour pouvoir calculer le chiffre d'affaire
data_sales['Quantity Ordered']=pd.to_numeric(data_sales['Quantity Ordered'],errors='coerce')
data_sales['Price Each']=pd.to_numeric(data_sales['Price Each'],errors='coerce')

In [ ]:
data_sales.info()

In [ ]:
data_sales['Order Date']=pd.to_datetime(data_sales['Order Date'],errors='coerce')

In [16]:
#comment ajouter une colonne mois à partir de la colonne qui contient la date
data_sales['month']=data_sales['Order Date'].dt.month_name()

In [ ]:
data_sales.sample(5)

# quel est le meilleur mois de vente? et quel est le chiffre d'affaires de ce mois

In [ ]:
data_sales['chdaf']=data_sales['Price Each']* data_sales['Quantity Ordered']
data_sales

In [ ]:
data_sales.groupby('month')['chdaf'].sum().sort_values(ascending=False)

# dans quelle ville a-t-on le plus vendu de produits?

In [74]:
#pour afficher justes les valeurs unique d'une colonne spécifique
data_sales['Purchase Address'].unique()

array(['917 1st St, Dallas, TX 75001',
       '682 Chestnut St, Boston, MA 02215',
       '669 Spruce St, Los Angeles, CA 90001', ...,
       '981 4th St, New York City, NY 10001',
       '840 Highland St, Los Angeles, CA 90001',
       '220 12th St, San Francisco, CA 94016'], dtype=object)

In [71]:
#pour diviser une chaine de caractéres
'917 1st St, Dallas, TX 75001'.split(',')[1].strip()

'Dallas'

In [75]:
def extraire_rue(Purchase_Address):
  try:
        parts = Purchase_Address.split(',')
        if len(parts) > 1:
            return parts[1].strip()
        else:
            return 'Adresse inconnue'
  except Exception as e:
        print(f"Erreur avec l'adresse: {Purchase_Address} - {e}")
        return 'Erreur'

In [76]:
data_sales['city']=data_sales['Purchase Address'].apply(extraire_rue)

In [ ]:
data_sales.groupby('city')['chdaf'].sum().sort_values(ascending=False)

# A quelle heure devons-nous passer de la publicité pour augmenter nos ventes?

In [87]:
data_sales.reset_index(inplace=True)

In [88]:
data_sales['heure']=data_sales['Order Date'].dt.hour

In [ ]:
data_sales.groupby('heure')['chdaf'].sum().sort_values(ascending=False)